// Result for the fixtures/single directory using "prefix/url" string for the "url_prefix" option

$_1_path: 'prefix/url/1.png';
$_1_url: url('prefix/url/1.png');
$_1_width: 20px;
$_1_height: 20px;
$_1_padding: 100%;

$simple_path: 'prefix/url/simple.svg';
$simple_url: url('prefix/url/simple.svg');
$simple_width: 40px;
$simple_height: 40px;
$simple_padding: 100%;

$test\ 1_path: 'prefix/url/test 1.gif';
$test\ 1_url: url('prefix/url/test 1.gif');
$test\ 1_width: 20px;
$test\ 1_height: 40px;
$test\ 1_padding: 200%;

$test\.test_path: 'prefix/url/test.test.jpg';
$test\.test_url: url('prefix/url/test.test.jpg');
$test\.test_width: 40px;
$test\.test_height: 20px;
$test\.test_padding: 50%;
